A CSS file is composed by rules, each of made of a selector and a list of expressions property:value.
For example:
    div.bold-text {
        font-weight: 700;
    }

Selectors: refer to the html elements to which the rule apply.

- Universal Selector: selects all elements.
    * {
        color: purple;
    }

- Type selector (or element selector): selects all elements of the given element type. 
    div {
        color: white;
    }

- Class selector: selects all elements of the given class (each element in html can have a css class asociated)
    .nameOfClass{
        color: red;
    }

Note: each element can have multiple classes.
<div class="nameOfClass nameOfClass2"> </div>

- ID selectors: select all elements of the given id 
    #idOfElement{
        color: blue;
    }

Note: there can only be an unique id per element. 
<div id = "identificame"> </div>


Grouping selectors
------------------
We often have 2 selectors that share some of its expressions, so we want to compress that information somehow:
#read,
.unread {
    color: white;
    background-color: black;
}

Then, each selector can have its own expressions:
.read {
    ...
}
.unread{
    ...
}

Chainin Selectors
-----------------

If we want to apply rules only to elements that belong to some classes, we can use the rule: 

.class1.class2 { /*without a space*/
    color: yellow;
}

Descendant Combinator
---------------------
Maybe we want to apply rules only to an element of a certain selector 'selectorA', only if that element is a descendent of another 
element of selector 'selectorB'. You can chain as many selectors as you want and become really specific.

.selectorB .selectorA{
    color: red;
}


-----------------------CASCADE--------------------------
Determines which rules are actually applied to an html element. 

-Inline styles have the highest priority (over selectors)
-There is a precedence table over selectors, being 1) the highest priority:
    1) ID 
    2) class
    3) type
    4) universal
This table acts as a tie breaker when there is a conflict.
Also, the most selectors a rule has, the more its specificity (therefore, priority)

If all factors have been considered and there is no specificity winning in a situation, the rule that
wins is the last one in the .css file.

-----------------------INHERITANCE--------------------------
Inheritance in CSS refers to the properties that, being applied to an element, also take place in its
descendants. Typography properties for example. Inheritance is not applied when some property is 
rewriten along the way. 

---------------ADDING CSS TO HTML--------------------
External CSS -> In the html file, we refer to the .css file:
<head>
    <link rel="stylesheet" href="./.../.../nameOfStylesheet.css">
</head>

Internal CSS -> In the html file, the syntax is the same as the external CSS:
<head>
    <style>
        div {
            color: brown;
        }
    </style>
</head>

Inline CSS -> In the html file...
<div style = "color: white; background-color: red;"> </div>

--------WHAT CAN BE DONE FROM THE INSPECTOR--------
* View an element's CSS.
* Modify an element's CSS's class.
* Add a class to an element's CSS's. 
* Change the dimension of an element using the Box Model.

